#include "corne.dtsi"
#include <dt-bindings/zmk/trackball_pim447.h>

&default_transform {
	col-offset = <6>;
};

&kscan0 {
	col-gpios
		= <&pro_micro 14 GPIO_ACTIVE_HIGH>
		, <&pro_micro 15 GPIO_ACTIVE_HIGH>
		, <&pro_micro 18 GPIO_ACTIVE_HIGH>
		, <&pro_micro 19 GPIO_ACTIVE_HIGH>
		, <&pro_micro 20 GPIO_ACTIVE_HIGH>
		, <&pro_micro 21 GPIO_ACTIVE_HIGH>
		;
};

&i2c1 {
	status = "okay";
	sda-pin = <36>; /* P1.04 */
	scl-pin = <38>; /* P1.06 */

	pim447_trackball@a {
		compatible = "pimoroni,trackball_pim447";
		reg = <0xa>;
		label = "PIM447_TRACKBALL";
		power-layer = <0>; /* MOUSE layer */
		//idle-timeout = <10>; /* in seconds */
		// invert-move-x;               // Invert mouse X axis (left is right, and vice versa)
    	// invert-move-y;               // Invert mouse Y axis (up is down, and vice versa)
		// swap-axes;                   // Swap X and Y axes (horizontal is vertical, and vice versa)
		// invert-scroll-x;             // Invert wheel X axis (left is right, and vice versa)
		
		/* Modified from,
		 * https://gitlab.com/voidyourwarranty/zmk-yackboard/-/blob/0f6f8e19688af082116604acf793aca25d5de1f1/app/boards/shields/yackboard/yackboard_right.overlay
		 */
		mode = <PIM447_MOVE>;        // default: PIM447_MOVE for mouse move; alternatives: PIM447_SCROLL for scroll wheel, PIM447_TOGGLE for toggle on button press
		move-factor-x = <100>;       // Sensitivity X; default: 100
		move-factor-y = <100>;       // Sensitivity Y; default: 100
		move-inertia-x = <60>;       // Inertia X, between 0 (no inertia) and 99 (huge inertia); default: 0; note that some inertia is needed for acceleration
		move-inertia-y = <60>;       // Inertia Y, between 0 (no inertia) and 99 (huge inertia); default: 0; note that some inertia is needed for acceleration
		norm = <PIM447_NORM_MAX>; // Metric for 2d distance measurement; default: PIM447_NORM_EUCLID; alternative: PIM447_NORM_MAX in order to enhance diagonal movement
		exactness = <6>;             // Range of small velocities that are not accelerated
		max-accel = <120>;           // Maximum acceleration; default: 100
		scroll-divisor-x = <1>;      // Increase wheel velocity (default: 2)
		scroll-divisor-y = <1>;      // Increase wheel velocity (default: 2)
		button = <0>;                // Send mouse button 4 when pressing the ball which is usually ignored by the operating system (default: 0, ie. left-click)
		poll-interval = <20>;        // Interval in milli-seconds at which the track ball is polled (default: 50)
	};
};