/*
 * SPDX-License-Identifier: MIT
 */

#include <zephyr/dt-bindings/input/input-event-codes.h>

/ {
	/omit-if-no-ref/ zip_accel: zip_accel {
		compatible = "zmk,input-processor-accel";
		#input-processor-cells = <0>;
		type = <INPUT_EV_REL>;
		x-code = <INPUT_REL_X>;
		y-code = <INPUT_REL_Y>;
	};
};

&zip_accel {
	max-accel-x = <90>;    /* % scaling of the gain curve, default 100 */
	max-accel-y = <90>;
	move-inertia-x = <70>;  /* EMA history weight 0-99, default 78 */
	move-inertia-y = <70>;
	exactness-x = <2>;      /* |value| <= this skips the curve, default 0 */
	exactness-y = <2>;
};